body{
    background-color:rgb(43, 38, 38);
    background-position: center;
    font-size: 40px;
    color: aliceblue;
    margin-left: 50px;
    margin-top: 60px;
    
}
.judul{
    text-align: center;
    margin-bottom: 70px;
}