body{
    background-image: url(https://i.imgur.com/uAkIHZK.jpg) ;
    background-position: center;
    background-size: repeat(cover);
    margin-top: repeat(2,40px);
    text-align: center;
} 
.button {
    background-color: rgb(165, 172, 166); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
    .judul{ 
    font-size: 45px;
    color : rgb(154, 51, 250);
    font-style: oblique;
    font-family: cursive;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 50px;
    font-weight: bold;
   }
   .referensi{
       color: darkgoldenrod;
       text-align: right;
       margin-right: 30px;
       margin-top: 40px;
   }
    .image{
        float: left;
        width: 50%;
    }
    .Note{
        font-size: 32px;
        color : white;
        font-style: normal;
        margin-top: 100px ;
        text-align: justify;
        text-justify: inter-word;
    }

